*{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: #282a2b;
    color: white;
    position: fixed;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav_bar{ 
    width: auto;
    display: flex;
    padding: 1rem;
    max-width: 100%;
    justify-content: space-between;
}

.nav_bar>ul{
    display: flex;
    max-width: 50%;
    min-width: 25%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login>form{
    display: flex;
    min-height: 50vh;
    min-width: 50%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #545454;
    border-radius: 0.5rem;
    box-shadow: rgb(14, 21, 29) 0px 20px 30px -10px;
}
.login>form>h3{
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
}
.login>form>div>input{
    margin-bottom: 1rem;
    width: 61%;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
}
.login>form>div>input:focus{
    border: none;
}
.login>form>div>span{
    font-size: 1.5rem;
    color: white;
}
.login>form>div>button{
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
    transition: all 0.5s ease;
}
.login>form>div>button:hover{
    background-color: #282a2b;
    color: white;
    transition: all 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.button{
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    margin-left: 0.2rem;
    border-radius: 0.3rem;
    transition: all 0.5s ease;
}
.button:hover{
    background-color: white;
    color: #282a2b;
}